@*/*
    * Duy Tan Vu
    * Book Store project for Lab 5, Comm Activity 5 & Lab 06
    * Date Created: December 5, 2020
    */*@

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1><img src="~/images/logo.png" alt="" />Oshawa Book Store</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Oshawa Book Store</h2>
        <p>
            Oshawa book store is a place for people loving reading books!
            We have many types of book available, you can buy or rent them easily.
        </p>
    </div>
    <div class="col-md-4">
        <h2>We donate for community organizations</h2>
        <p>
            We donate every 5 cents per one dollars you spend at our shop for not-for-profit
            organizations in the local area.
        </p>
        <p><a class="btn btn-default" href="#">Find out more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Spread the reading culture</h2>
        <p>
            Spread the reading culture to everyone by sharing your story with others.
            Each time you share a post with other people to encourage them to read more,
            you can get a 10% discount for next purchase at our store.
        </p>
        <p><a class="btn btn-default" href="#">See others' stories &raquo;</a></p>
    </div>
</div>